.game-container {
  color: #eeeeee;
  width: inherit;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__parallax {
    display: flex;
    width: 100vw; // Add this line to make it take the whole width of the screen
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    @media screen and (max-width: 768px) {
      width: 110vw;
    }
    img {
      width: 100%;
      height: 400px;
      object-fit: cover;
      filter: blur(10px) brightness(0.5);
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    // margin-top: 125px;
    margin: auto;
    flex-wrap: wrap;
    width: 100%;
    &__cover {
      max-height: 400px;
      object-fit: cover;
      img {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }
    }
    &__body {
      display: flex;
      flex-direction: column;
      gap: 10px;

      &__title {
        font-size: 50px;
        font-weight: 700;
      }

      &__date {
        font-size: 30px;
        font-weight: 600;
      }

      &__companies {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
        align-items: center;
        &__item {
          background-color: rgba(#111111, 0.5);
          color: #eeeeee;
          padding: 5px 10px;
          border-radius: 30px;
          font-size: 14px;
        }
      }
      &__consoles {
        display: flex;
        gap: 5px;
        align-items: center;
        &__item {
          background-color: rgba(#111111, 0.5);
          color: #eeeeee;
          padding: 5px 10px;
          border-radius: 30px;
          font-size: 14px;
        }
      }
      &__summary {
        font-size: 18px;
        line-height: 1.5;
        width: 70%;
        @media screen and (max-width: 768px) {
          width: 100%;
        }
      }
    }
  }
}
