.game-card-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  //   border: 1px solid rgba(58, 58, 58, 0.5);
  border-radius: 10px;
  gap: 10px;
  width: 150px;
  height: 290px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &__body {
    padding: 0 10px;
    &__name {
      display: flex;
      font-size: 15px;
      flex-wrap: wrap;
      font-weight: 600;
      color: #eeeeee;
    }

    &__plateforms {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 5px;
      flex-wrap: wrap;
      font-size: 12px;
      color: #eeeeee;
    }
  }
  &__image-wrapper {
    img {
      max-width: 100%;
      max-height: 200px;
      width: auto;
      object-fit: cover;
      border-radius: 5px 5px 0 0;
    }
  }
}
