.search-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 38px auto;
  gap: 20px;
  &__form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    height: 55px;
    width: 90vw;
    max-width: 400px;
    margin: auto;
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

    &:focus-within {
      background-color: rgba(
        0,
        0,
        0,
        0.75
      ); // Add the desired background color when focused
    }

    &__input {
      border: none;
      // border-bottom: 1px solid #ccc;
      outline: none;
      padding: 0 30px;
      width: 100%;
      color: #eeeeee;
      background-color: transparent;
      font-size: 18px;
    }

    button {
      border: none;
      color: #ccc;
      cursor: pointer;
      font-size: 18px;
      background-color: transparent;
      padding: 18px 20px;
      &:hover {
        color: #ccc;
      }
    }
  }

  &__search-result {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 52px auto;
    justify-content: center;
  }
}
